{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static '/playez/css/master.css' %}">
        <title>{% block title %}Playez{% endblock %}</title>
    </head>
    <body>
        <div class="header">
            <div class="header-logo">
                <picture>
                    <source media="(prefers-color-scheme: dark) and (min-width: 800px)" srcset="{% static '/playez/images/dark/lg_logo.svg' %}">
                    <source media="(prefers-color-scheme: dark) and (max-width: 800px)" srcset="{% static '/playez/images/dark/sm_logo.svg' %}">
                    <source media="(prefers-color-scheme: light) and (min-width: 800px)" srcset="{% static '/playez/images/light/lg_logo.svg' %}">
                    <source media="(prefers-color-scheme: light) and (max-width: 800px)" srcset="{% static '/playez/images/light/sm_logo.svg' %}">
                    <img class="logo-image" src="{% static '/playez/images/light/lg_logo.svg' %}" alt="Playez">
                </picture>
            </div>
            <div class="header-links">
                <a target="_blank" href="/create">Create</a>
            </div>
            {% block header %}
            {% endblock %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
